<h2>Bag</h2>
<ul>
    <li ng-repeat="pocket in pockets">
        <h2>{{ pocket }}</h2>

        <table class="table">
            <thead>
            <th>Item</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in items | filter:pocket">
                <td>
                    {{item.name}}
                    <span ng-show="item.qty">x({{item.qty}})</span>
                </td>

                <td>
                    <button data-ng-click="drop($index,1)">Drop</button>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
