<h2>Basket ({{basket.length}})</h2>
<div data-ng-hide="basket.length">
    <p>
        Your basket is empty.
    </p>
</div>
<table class="table" data-ng-show="basket.length">
    <thead>
    <th>Item</th>
    <th>Description</th>
    <th>Type</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in basket">
        <td>{{item.name}}</td>
        <td>{{item.color}}</td>
        <td>{{item.type}}</td>
        <td>
            <button data-ng-click="return($index,1)">Return</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <td colspan="2"></td>
    <td>
        <button data-ng-click="emptyBasket()" data-ng-show="basket.length">Empty Basket</button>
    </td>
    <td>
        <button data-ng-click="buyAll()" data-ng-show="basket.length">Buy All</button>
    </td>
    </tfoot>
</table>