<h2>{{message}}</h2>
Cash: {{ user.cash }}
<div class="row">
	<div class="col-xs-6">
        <h3>Metals ({{ metals.length }})</h3>
		<ul data-ng-show="blacksmith.upgradeActive">
			<li data-ng-repeat="item in metals">
				{{ item.name }} x{{ item.quantity }}
				<button data-ng-click="chooseMetal($index)">Use</button>
			</li>
		</ul>
	</div>
	
	<div class="col-xs-6">
		<ul>
			<h3>Equipment</h3>
			<li data-ng-repeat="equipment in user.bag" data-ng-show="equipment.type=='equipment'">
				{{ equipment.name }}, Level: {{ equipment.level | number:0 }}, Health: {{ equipment.health * 100 | number: 0}}%
				<div>
					<button data-ng-click="upgradeEquipment($index)" data-ng-show="metals.length && equipment.level<maxEquipmentLevel">Upgrade</button>
					<button data-ng-click="repairEquipment(equipment)" data-ng-show="equipment.health<maxEquipmentHealth">Repair</button>
				</div>
			</li>
		</ul>
	</div>	
</div>

<div class="row">
	<h2>Forge</h2>
	<div class="col-xs-6">
        <h3>Metals ({{ forge.metals.length }})</h3>
		<ul>
			<li data-ng-repeat="metal in forge.metals">
				{{ metal.name }}
			</li>
		</ul>
		<h3>Equipment</h3>
        {{ forge.equipment.name }}
		<button data-ng-click="forgeUpgrade()" data-ng-show="forge.metals.length">Upgrade!</button>
	</div>
</div>