<h2>{{message}}</h2>
<div class="row">
    <div class="col-xs-6">
        <ul>
            <li data-ng-repeat="merchant in merchants">{{merchant.name}}
                <button data-ng-click="toggleMerchantShop(merchant)">Buy</button>
                <ul data-ng-show="merchant.shopOpen">
                    <li data-ng-repeat="item in merchant.goods">{{item.name}}
                        <button data-ng-click="addToBasket(item)">Add to Basket</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-xs-6">
        <div data-ng-include src="basketURL"></div>
    </div>
</div>