<div class="navbar-header">
    <a class="navbar-brand" href="#">Medieval Marketplace</a>
</div>

<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li data-ng-class="merchantsActive">
            <a href="#/merchants" data-ng-click="setActive(0)">Merchants</a>
        </li>
        <li data-ng-class="blacksmithActive">
            <a href="#/blacksmith" data-ng-click="setActive(1)">Blacksmith</a>
        </li>
        <li data-ng-class="apothecaryActive">
            <a href="#/apothecary" data-ng-click="setActive(2)">
                Apothecary
            </a>
        </li>
        <li data-ng-class="userActive">
            <a href="#/user" data-ng-click="setActive(3)">My Gear</a>
        </li>
    </ul>
</div>