<h2>{{message}}</h2>

<div>
	<div class="col-xs-4">
		<h2>Traveller Info</h2>
		Name: {{ user.name }},
		HP: {{ user.hp.current }} / {{ user.hp.total}}
		SP: {{ user.sp.current }} / {{ user.sp.total}},
		Cash: {{ user.cash }}

	</div>

	<bag class="col-xs-4" pockets="['nutrition','mineral','equipment']"></bag>
</div>